---
layout: default
---

<div class="home">
  
  {{ content }}

  {% for post in site.posts %}
    <h1>{{ post.title }}</h1>
    <div>{{ post.content }}</div>
    <p id="autor_fecha_post" class="post-meta">
      <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
      {% if post.author %} • 
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ post.author }}</span>
      </span>
      {% endif %}
    </p>
    {% if forloop.last == false %}
      <p>•••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••</p>
    {% endif %}
  {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
