---
layout: default
---
<h1 class="page-heading">Tags</h1>

{% comment %}
  Pàgina amb els tags i el llistat de posts que els inclouen
{% endcomment %}

<div class="tags-postlist">
  {% assign tags = site.tags | sort %}
  {% for tag in tags %}
    {% comment %}
      Important: a cada nom de tag li estem donant un id per quan
      cliquem els links dels tags ens redirigeixi al punt exacte d'aquesta
      pàgina on es troba el tag
    {% endcomment %}
    <h2 id="{{ tag[0] }}">{{ tag[0] }}</h2>
    <ul>
      {% for post in tag[1] %}
        <a class="tag-post" href="{{ site.baseurl }}{{ post.url }}">
          <li>
            {{ post.title }}
            <small class="post-date">{{ post.date | date_to_string }}</small>
          </li>
        </a>
      {% endfor %}
    </ul>
  {% endfor %}
</div>

{% include rss.html %}
